

body {
  font-family: "Helvetica";
  margin: 0 auto;
  background: black;
  color: white;
}
header {
  color: white;
  padding: 20px 20px;
  text-align: left;
}

main {
  padding: 20px 20px;
}

.sidebar{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 20px;
  display: flex;
  align-items: center;

}
.sidebar-container{
  display: flex;
  flex-direction: column;
}

.sidebar-button{
  padding: 10px 20px;
  margin: 5px;
  font-size: 25px;
  text-decoration: none;
  display: flex;
  color: white;
  border-radius: 15px;
}

.sidebar-button.active{

  background-color: crimson;

}

.content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.content-inner{
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.content-inner.fade-up {
    opacity: 0;
    transform: translateY(-30px);
}

.content-inner.fade-down {
    opacity: 0;
    transform: translateY(30px);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.intro-about-me {
  font-size: 40px;
}

.education {
  display: flex;
  flex-direction: column;
  gap : 10px;
  
}



.degree-card {

  --dash-length: 20px;
  --dash-gap: 6px;
  --dash-height: 3px;

  display: flex;
  flex-direction: column;
  gap : 0px;
  padding: 12px;
  margin:25px;
  border-radius: 14px 14px 14px 14px;
  box-shadow: rgba(255,255,255,0.2) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.2) 0px 18px 36px -18px inset,rgba(255,255,255,0.2) 0px -30px 60px -12px inset;
  border: solid 2px rgba(255,255,255,0.2);
  background: 
  /* Bottom-Left Horizontal*/
  repeating-linear-gradient(
    90deg,
    rgb(255, 255, 255) 0 var(--dash-length),
    transparent 0 calc(var(--dash-length) + var(--dash-gap))
  )
  0 100% / calc(2 * var(--dash-length) +  var(--dash-gap)) var(--dash-height)
  no-repeat,

  /* Top-Right Horizontal */
  repeating-linear-gradient(
    90deg,
    rgb(255, 255, 255) 0 var(--dash-length),
    transparent 0 calc(var(--dash-length) + var(--dash-gap))
  )
  100% 0 / calc(2 * var(--dash-length) + var(--dash-gap)) var(--dash-height)
  no-repeat,
  #0a0a0a;
  background-position: 
  15px calc(100% - 5px),
  calc(100% - 15px) 5px;
}

.logo-container{
  margin: 5px;
  width: fit-content;
  background-color: white;
  padding: 2px 10px;
  border-radius: 15px;
}

.clg-logo-1 {
  width: 60px;
  height: 40px;
}
.clg-logo-2 {
  width: 140px;
  height: 50px;
}

.degree-info {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.degree-info h3 {
  flex: 0 1 70%;
  margin: 5px;
}

.degree-info p {
  margin: 5px;
}
.degree-college {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}


.intro h2 {
  color: white;
}

.projects-container {
  display: flex;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height : 250px;
  width: 220px;
  padding: 5px;
  border: solid 1px white;
  border-radius: 15px;
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  box-shadow: rgba(255,255,255,0.2) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.2) 0px 18px 36px -18px inset,rgba(255,255,255,0.2) 0px -30px 60px -12px inset;
}
.project-card:hover {
  transform: scale(1.03);
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin: 3px;
}

.github-icon {
  height: 32px;
  width: 32px;
}

.github-link {
  width: fit-content;
  padding: 5px;
  margin: 3px
}

.project-description {
  padding: 5px;
  margin: 3px;
}

.project-name {
  padding: 5px;
  margin: 3px;
  text-align: center;
  top: 0;
}